@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



/* adrs spark section */
#btn{
  height: 30px;
  width: 100px;
  border: 2px rgb(26, 25, 25) solid;
  border-radius: 5px;
  background-color: rgb(204, 222, 198);
  font-size: 13px;
  text-align: center;
  color: black;
  padding-top: 2px;
  font-weight: 500;
}

#logo{
  margin-inline-start: 0%;
}

#full_form{
  font-size: 10px;
  font-weight: 100;
}

.carousal1{
  font-weight: 500;
  color: black;
  font-size: 50px;
  margin-left: 20px;
  margin-top: 10px;
}

.text-gray-400{
  width: 250px;
}


/* footer section */

.icon_width{
  width: 270px;
}
.breadth{
  width: 100%;
}
